{{#resume.basics}}
    {{#if summary}}
        <div class="container summary-container">
            {{> title value="About"}}
            <p class="summary">
                {{{breaklines summary}}}
            </p>
        </div>
    {{/if}}
{{/resume.basics}}